<div class="nyhedContainer">
    <div class="insideNews">
    <% for (let i =0; i < news.length;  i++ ) { %>
        <div class="news-frame">
            <h2>&#9660;<%-  news[i].title -%></h2>

            <div class="news-sections">
                <p><%- news[i].content -%></p>
            </div>
        </div>
        <% } %>
    </div>
</div>

